/* colors */

* {
  alpha:            #00000000;
  background:       {{colors.background}};
  background-light: {{colors.background-highlight}};
  selected:         {{colors.background-highlight}};
  foreground:       {{colors.white}};
  accent:           {{colors.accent}};
  on:               {{colors.accept}};
  off:              {{colors.alert}};
}
